<h1>Welcome to</h1>
<h2>The Alpha Blog</h2>


Links<br>

<ul>

<li><%= link_to "About", about_path %></li>
<li><%= link_to "Undefined Link", about_path %></li>

</ul>



Copyright ONYX Design Space@2015